.form-group.row
  %label.col-xs-2.col-form-label{:for => "Topic"} Topic
  .col-xs-10
    %input#example-text-input.form-control{:type => "text", :placeholder => "What are you most excited about or looking forward to in your college experience?"}/

.form-group.row
  %label.col-xs-2.col-form-label{:for => "description"} Description
  .col-xs-10
    %input#example-search-input.form-control{:type => "search", :placeholder => "Personal statement for Harvard University"}/