%div.container
  %form.form-inline  
    .form-group.row
      %label.col-xs-2.col-form-label{:for => "first-name"}
      .col-xs-10
        %input#example-text-input.form-control{:type => "text", :placeholder => "First name"}/

    .form-group.row
      %label.col-xs-2.col-form-label{:for => "last_name"}
      .col-xs-10
        %input#example-text-input.form-control{:type => "text", :placeholder => "Last name"}/

  .form-group.row
    %label.col-xs-2.col-form-label{:for => "email"} Email
    .col-xs-10
      %input#example-email-input.form-control{:type => "email", :placeholder => "disgapear@example.com"}/

  .form-group.row
    %label.col-xs-2.col-form-label{:for => "password"} Password
    .col-xs-10
      %input#example-password-input.form-control{:type => "password"}/
  .form-group.row
    %label.col-xs-2.col-form-label{:for => "comfirm password"} Confirm Password
    .col-xs-10
      %input#example-password-input.form-control{:type => "password"}/
  %button.btn.btn-primary{:type => "submit"} Submit